h1{
  font-family: "Chelsea Market", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align:center;
}
body{
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:20px;
  text-align:center;
  background-color:white;
}
button:hover{
    background-color:gainsboro;
}
button{
    font-size:17px;
    padding:15px 22px;
    background-color: darkgrey;
    cursor:pointer;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
footer{
    font-size:17px;
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" -19,
    "YROT" 0;
}